.cart-block {
	display: flex;
	align-items: center;
	position: relative;
}

.cart-block__total-price {
	font-weight: bold;
	margin-left: 15px;
	font-size: 18px;
}

.cart-block__icon {
	cursor: pointer;
	position: relative;
}
